body {
    margin: 0%;
    align-content: center;
}

main {
    display: block;
}

img {
    height: 300px;
    width: 300px;
}

nav {
    border: 5px aqua solid;
    float: right;
    padding: 5px;
}

.about-me {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#work-projects {
    display: flex;
    flex: wrap;
    padding: 10%;
}    
/* I've added these 36 lines in and everything appears to be lining up the way I want */