html {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

body {
    background: teal;
    margin: auto;
}

nav {
    float: right;
    text-decoration-color: red;
}

#contact-link {
    background-color: gray;

}